@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.container{
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}

.conatiner__list{
    position: relative;
    width: 450px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.list__header{
    width: 450px;
    height: 150px;
    background-color: #394867;
    border-radius: 6px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.list__header-box{
    display: flex;
    align-items: start;
    flex-direction: column;
}

.list__body__title{
    color: #ffffff;
    font-size: 1.8rem;
    margin: 0.5rem 0;
    display: none;
}

.list__header-input{
    border: none;
    outline: none;
    background-color: #9BA4B5;
    padding: 1rem;
    width: 300px;
    border-radius: 10px;
    color: #394867;
    font-size: 1rem;
    margin: 1rem 0;
}

.list__header-btn{
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #9BA4B5;
    cursor: pointer;

}

/* .edit{
    padding: 1rem;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #9BA4B5;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 5.8%;
    right: 11.2%;
    display: none;
} */

.btns-box{
    display: flex;
    gap: 1rem;
}

.btn-box{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.4rem 0.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
    display: noe;
    background-color: #ffffff;
    cursor: pointer;
    color: #394867;
    display: block;
    transition: all 0.5s;
}


.btn-box:hover{
    background-color: #ffffffef;

}

.cancel, .edit{
    display: none;
}
.list__body{
    width: auto;
    background-color: #394867;
    border-radius: 6px;
    padding: 1.5rem;

}

.list__body__text{
    text-align: center;
    font-size: 1.7rem;
    color: #ffffff;
    margin-bottom: 1rem;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #394867;
}

/* .check{
    width: 15px;
    outline: none;
    border: none;
    margin-right: 1.5%;
}
 */
.list__item{
    background-color: #9BA4B5;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.icons{
    display: flex;
    position: absolute;
    right: 2%;
    bottom: 10%;
    gap: 0.3rem;
}

.icon{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #ffffff;
    align-items: center;
    cursor: pointer;

}

.fa-plus{
    color: #394867;
}

.fa-pen{
    position: absolute;
    right: 67%;
    bottom: 30%;
}


.fa-trash-can{
    position: absolute;
    right: 15%;
    bottom: 30%;

}